* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    width: 100%;
}

.container-flex {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    
}

.image-container, .button-container {
    width: 400px;
    height: 450px;
    margin-top: 20px;
    
}

#image {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
}

#button {
    display: flex;
    width: 400px;
    height: 40px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#button:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

#button:focus {
    outline: none;
}